:root {
    --nav-color: rgb(61, 123, 255);
    --primary-color: rgb(242, 242, 242);
    --secondary-color: rgba(174, 209, 255, 0.425);
}

body, *{
    padding: 0;
    margin: 0;
}

body {
    background-color:  rgb(242, 242, 242);
}

a:link, a:visited, a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bluetogrey {
    height: 5vh;
    background-image: linear-gradient( rgba(174, 209, 255, 0.425), rgb(242, 242, 242));
}

.greytoblue {
    height: 5vh;
    background-image: linear-gradient(rgb(242, 242, 242), rgba(174, 209, 255, 0.425));
}

.vh {
    height: 50vh;
}

#navbar {
    width: 100%;
    background-color: var(--nav-color);
    height: 9vh;
    position: fixed;
}
#navbar ul {
    font-size: x-large;
    text-align: center;
    margin-top: 3vh;
}

.navbar-item {
    display: inline;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
    transition: font-size 0.5s ease;

    
}

.navbar-item:hover {
    font-size: xx-large;
}

#profile-section {
    background-color: rgb(242, 242, 242);
    scroll-margin-top: 30vh;
}

#profile-left-box {
    height: 100%;
    width: 50%;
    float: left;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profile-left-box h1 {
    margin-left: -10%;
    font-family: 'serif', 'Times New Roman', 'Times';
    
}

#profile-left-box h2 {
    margin-left: 5%;
}

#profile-right-box {
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-right-box img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
}

#about-me-section {
    background-color: rgba(174, 209, 255, 0.425);
    scroll-margin-top: 30vh;
}



#about-me-left-box {
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#about-me-right-box {
    height: 100%;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me-paragraph {
    width: 70%;
    font-family: 'serif', 'Times New Roman', 'Times';
    text-align: center;
}

#about-me-header {
    margin-bottom: 3%;
    font-family: 'serif', 'Times New Roman', 'Times';
}

#about-me-section img {
    height: 50%;
    width: 50%;
    border-radius: 25%;
}

#assignments-section {
    background-color: rgb(242, 242, 242);
    scroll-margin-top: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#assignment-header {
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
    font-size: xx-large;
}

#assignment-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.assignment-card {
    width: 30%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 177, 177);
    border: black 2px;
    border-style: solid;
}

.assignment-card h3 {
    width: 80%;
    margin-top: 10px;
}

.assignment-card img {
    height: 50%;
    width: 90%;
    border-radius: 25%;
}

.assignment-card span {
    width: 90%;
}

#interests-section {
    background-color: rgba(174, 209, 255, 0.425);
    scroll-margin-top: 30vh;
}

#contact-information-section {
    height: 10vh;
    background-color: rgb(242, 242, 242);
    scroll-margin-top: 30vh;
}